<ion-header>
  <ion-toolbar>
    <ion-title>Contrato de Arrendamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Contrato de Arrendamiento</h2>
  <p>
    Por una parte, Salvador Torres, en adelante "arrendador", y por la otra,
    Berenice García, en adelante "arrendataria".
  </p>

  <ion-item>
    <ion-label position="fixed">
      <ion-checkbox></ion-checkbox> Estoy de acuerdo
    </ion-label>
  </ion-item>

  <ion-button expand="full" (click)="siguiente()">Siguiente</ion-button>
</ion-content>
